.thumbnail img{
    width: auto;
    height: 200px;
}    
.mobiles img{
    width: auto;
    height: 200px;
    margin-bottom: 40px;
}  

.mobiles h3 {
    margin-top: 0;
}

.btn.btn-link {
    padding: 0;
    border: 0;
}

.list-group .btn.btn-link {
    color: black;
}